@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Личные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит личные данные, что вы передали нам. Эта страница позволяет их скачать или удалить.</p>
        <p>
            <strong>Удаление этих данных, также удалит ваш аккаунт, и это нельзя будет отменить.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
