@page
@model ChernabogJailApp.Pages.RuleBook.Beasts.Categories.CreateModel

@{
    ViewData["Title"] = "Добавить категорию существ";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BeastCategory.Name" class="control-label"></label>
                <input asp-for="BeastCategory.Name" class="form-control" />
                <span asp-validation-for="BeastCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeastCategory.Description" class="control-label"></label>
                <textarea asp-for="BeastCategory.Description" class="form-control"></textarea>
                <span asp-validation-for="BeastCategory.Description" class="text-danger"></span>
            </div>
            <div class="form-group d-flex flex-row justify-content-between pt-2 align-content-stretch">
                <a href='javascript:window.location = document.referrer'>
                    <i class="btn btn-dark fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
