@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
<p>
    Пожалуйста, проверьте ваш почтовый ящик. Мы туда выслали ссылку для подтверждения регистрации.
</p>
}

