@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Материалы для сайта взяты с <a href="https://pnprpg.ru/content/games/scarlet-dawn/">"Багровой Зари"</a>.</p>
</div>